<?xml version="1.0" encoding="utf-8" ?>
<!--
/**
 * @package     Gamuza_Sitef
 * @copyright   Copyright (c) 2020 Gamuza Technologies (http://www.gamuza.com.br/)
 * @author      Eneias Ramos de Melo <eneias@gamuza.com.br>
 */
-->

<config>
    <modules>
        <Gamuza_Sitef>
            <version>0.0.4</version>
        </Gamuza_Sitef>
    </modules>
    <global>
        <helpers>
            <sitef>
                <class>Gamuza_Sitef_Helper</class>
            </sitef>
        </helpers>
        <blocks>
            <sitef>
                <class>Gamuza_Sitef_Block</class>
            </sitef>
        </blocks>
        <models>
            <sitef>
                <class>Gamuza_Sitef_Model</class>
                <resourceModel>sitef_mysql4</resourceModel>
            </sitef>
            <sitef_mysql4>
                <class>Gamuza_Sitef_Model_Mysql4</class>
                <entities>
                    <transaction>
                        <table>gamuza_sitef_transaction</table>
                    </transaction>
                </entities>
            </sitef_mysql4>
        </models>
        <resources>
            <sitef_setup>
                <setup>
                    <module>Gamuza_Sitef</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sitef_setup>
            <sitef_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sitef_write>
            <sitef_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sitef_read>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <is_sitef>
                    <to_order>*</to_order>
                </is_sitef>
            </sales_convert_quote>
            <sales_convert_order>
                <is_sitef>
                    <to_quote>*</to_quote>
                </is_sitef>
            </sales_convert_order>
            <sales_convert_quote_payment>
                <sitef_url>
                    <to_order_payment>*</to_order_payment>
                </sitef_url>
            </sales_convert_quote_payment>
            <sales_convert_order_payment>
                <sitef_url>
                    <to_quote_payment>*</to_quote_payment>
                </sitef_url>
            </sales_convert_order_payment>
        </fieldsets>
        <events>
            <sales_order_place_after>
                <observers>
                    <gamuza_sitef_sales_order_place_after>
                        <class>sitef/observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </gamuza_sitef_sales_order_place_after>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <admin>
        <routers>
            <admin_sitef>
                <use>admin</use>
                <args>
                    <module>Gamuza_Sitef</module>
                    <frontName>admin_sitef</frontName>
                </args>
            </admin_sitef>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sitef>
                    <file>gamuza/sitef.xml</file>
                </sitef>
            </updates>
        </layout>
        <translate>
            <modules>
                <Gamuza_Sitef>
                    <files>
                        <default>Gamuza_Sitef.csv</default>
                    </files>
                </Gamuza_Sitef>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <sitef>
                <use>standard</use>
                <args>
                    <module>Gamuza_Sitef</module>
                    <frontName>sitef</frontName>
                </args>
            </sitef>
        </routers>
        <layout>
            <updates>
                <sitef>
                    <file>gamuza/sitef.xml</file>
                </sitef>
            </updates>
        </layout>
        <translate>
            <modules>
                <Gamuza_Sitef>
                    <files>
                        <default>Gamuza_Sitef.csv</default>
                    </files>
                </Gamuza_Sitef>
            </modules>
        </translate>
    </frontend>
    <crontab>
        <jobs>
            <gamuza_sitef_transaction>
                <schedule><cron_expr>* * * * *</cron_expr></schedule>
                <run><model>sitef/cron::runTransaction</model></run>
            </gamuza_sitef_transaction>
        </jobs>
    </crontab>
    <default>
        <payment>
            <sitef_pinpad_debit>
                <active>1</active>
                <title>Debit via Sitef - Gamuza Technologies</title>
                <order_status>pending</order_status>
                <paid_status>paid</paid_status>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <model>sitef/payment_method_pinpad_debit</model>
                <payment_action>order</payment_action>
            </sitef_pinpad_debit>
        </payment>
    </default>
</config>

