<?xml version="1.0" encoding="utf-8" ?>
<!--
/**
 * @package     Gamuza_Brazil
 * @copyright   Copyright (c) 2023 Gamuza Technologies (http://www.gamuza.com.br/)
 * @author      Eneias Ramos de Melo <eneias@gamuza.com.br>
 */
-->

<config>
    <modules>
        <Gamuza_Brazil>
            <version>0.0.5</version>
        </Gamuza_Brazil>
    </modules>
    <global>
        <helpers>
            <brazil>
                <class>Gamuza_Brazil_Helper</class>
            </brazil>
        </helpers>
        <blocks>
            <brazil>
                <class>Gamuza_Brazil_Block</class>
            </brazil>
        </blocks>
        <models>
            <brazil>
                <class>Gamuza_Brazil_Model</class>
                <resourceModel>brazil_mysql4</resourceModel>
            </brazil>
            <brazil_mysql4>
                <class>Gamuza_Brazil_Model_Mysql4</class>
                <entities>
                    <nfce>
                        <table>gamuza_brazil_nfce</table>
                    </nfce>
                </entities>
            </brazil_mysql4>
        </models>
        <resources>
            <brazil_setup>
                <setup>
                    <module>Gamuza_Brazil</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brazil_setup>
            <brazil_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brazil_write>
            <brazil_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brazil_read>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <is_pix>
                    <to_order>*</to_order>
                </is_pix>
            </sales_convert_quote>
            <sales_convert_quote_item>
                <brazil_ncm>
                    <to_order_item>*</to_order_item>
                </brazil_ncm>
                <brazil_cest>
                    <to_order_item>*</to_order_item>
                </brazil_cest>
                <brazil_cfop>
                    <to_order_item>*</to_order_item>
                </brazil_cfop>
            </sales_convert_quote_item>
            <sales_convert_order>
                <is_pix>
                    <to_quote>*</to_quote>
                </is_pix>
            </sales_convert_order>
            <sales_convert_order_item>
                <brazil_ncm>
                    <to_quote_item>*</to_quote_item>
                </brazil_ncm>
                <brazil_cest>
                    <to_quote_item>*</to_quote_item>
                </brazil_cest>
                <brazil_cfop>
                    <to_quote_item>*</to_quote_item>
                </brazil_cfop>
            </sales_convert_order_item>
        </fieldsets>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <gamuza_brazil_sales_quote_item_set_product>
                        <class>brazil/observer</class>
                        <method>salesQuoteItemSetProduct</method>
                    </gamuza_brazil_sales_quote_item_set_product>
                </observers>
            </sales_quote_item_set_product>
            <sales_order_place_after>
                <observers>
                    <gamuza_brazil_sales_order_place_after>
                        <class>brazil/observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </gamuza_brazil_sales_order_place_after>
                </observers>
            </sales_order_place_after>
        </events>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <brazil_ncm />
                        <brazil_cest />
                        <brazil_cfop />
                    </product_attributes>
                </item>
            </quote>
            <order>
                <item>
                    <product_attributes>
                        <brazil_ncm />
                        <brazil_cest />
                        <brazil_cfop />
                    </product_attributes>
                </item>
            </order>
        </sales>
    </global>
    <admin>
        <routers>
            <admin_brazil>
                <use>admin</use>
                <args>
                    <module>Gamuza_Brazil</module>
                    <frontName>admin_brazil</frontName>
                </args>
            </admin_brazil>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <brazil>
                    <file>gamuza/brazil.xml</file>
                </brazil>
            </updates>
        </layout>
        <translate>
            <modules>
                <Gamuza_Brazil>
                    <files>
                        <default>Gamuza_Brazil.csv</default>
                    </files>
                </Gamuza_Brazil>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Gamuza_Brazil>
                    <files>
                        <default>Gamuza_Brazil.csv</default>
                    </files>
                </Gamuza_Brazil>
            </modules>
        </translate>
        <product>
            <collection>
                <attributes>
                    <brazil_ncm />
                    <brazil_cest />
                    <brazil_cfop />
                </attributes>
            </collection>
        </product>
    </frontend>
    <default>
        <brazil>
            <nfe>
                <environment_id>2</environment_id>
                <version_id>4.00</version_id>
                <country_id>1058</country_id>
                <batch_id>1</batch_id>
                <number_id>1</number_id>
                <model_id>55</model_id>
                <series_id>1</series_id>
            </nfe>
            <nfce>
                <environment_id>2</environment_id>
                <version_id>4.00</version_id>
                <country_id>1058</country_id>
                <batch_id>1</batch_id>
                <number_id>1</number_id>
                <model_id>65</model_id>
                <series_id>1</series_id>
            </nfce>
        </brazil>
        <payment>
            <gamuza_brazil_pix>
                <active>0</active>
                <title>Payment via Pix</title>
                <order_status>pending</order_status>
                <paid_status>paid</paid_status>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <model>brazil/payment_method_pix</model>
            </gamuza_brazil_pix>
        </payment>
    </default>
</config>

